<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Never Paranoid Blog</title>
</head>
<body>
	<div id="header">
	
	<center>
		<nav class="nav">
		<ul>
			<li><a href="#"><img src="/static/images/logo.png" alt="npstation" width="40" height="50" /></a></li>
			<li class="current"><a href="#">О проекте</a></li>
			<li><a href="#">Получить инвайт</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Партнерам</a></li>
			<li><a href="#">Магазин</a></li>
			<li><a href="#">Биржа</a></li>
			<li><a href="#">Отзывы</a></li>
		</ul>
		</nav>
	</center>
	
	</div>
	
	<div id="content">
		
		
	</div>

	
	<div id="footer">
		<center>
			<h3>Never Paranoid Station.</h3>
			<p>Copyright, 2013</p>
		</center>
	</div>
	


</body>
</html>