<!DOCTYPE HTML>
<html lang="en-US">
<head>
		<meta charset="UTF-8">
		<title>Never Paranoid Station</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/styles/style.css" media="screen" />
        <link rel="stylesheet" href="/static/styles/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/styles/bootstrap-theme.min.css"/>
		<script type="text/javascript" src="/static/scripts/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Never Paranoid Station</a>
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> Username
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
					<li><a href="#">Profile</a></li>
					<li class="divider"></li>
					<li><a href="#">Sign Out</a></li>
					</ul>
				</div>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/test_user/">API</a></li>
						<li><a href="/weblog/">Blogs</a></li>
		<!-- 			<li><a href="#">rus/eng</a></li> -->
					</ul>
				</div> 
			</div>
		</div>
	</div>
	
	 <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Email address" data-ovi-hasaddedvoiceinputfunction="true" x-webkit-speech="" speech="" lang="ru-RU">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
		
		<div class="row">
			<h1>Bootstrap starter template</h1>
			<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
		</div>

    </div> <!-- /container -->
	
</body>
</html>